<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .recipe { border: 1px solid #ddd; padding: 15px; margin: 15px 0; }
        .recipe h2 { margin: 0; }
        .recipe p { margin: 5px 0; }
    </style>
</head>
<body>
    <h1>Category List</h1>
    <div id="category-container"></div>

    <script>
        // Fetch categories from the API and display them
        fetch('/api/categories')
            .then(response => {
                if (!response.ok) {
                    throw new Error("Bad response: ${response}");
                }
                return response.json()
            })
            .then(data => {
                const container = document.getElementById('category-container');
                data.forEach(category => {
                    const categoryDiv = document.createElement('div');
                    categoryDiv.classList.add('category');
                    
                    const Name = document.createElement('h2');
                    Name.textContent = category.name;

                    categoryDiv.appendChild(Name);

                    container.appendChild(categoryDiv);

                    console.log(data);
                });
            })
            .catch(error => console.error('Error fetching recipes:', error));
    </script>
</body>
</html>
