<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <style>
        body { 
            font-family: Arial, sans-serif;
            background: radial-gradient(circle at center, purple, black);
            color: silver;
        }
    </style>
</head>
<body>
    <h1>Recipes by ID</h1>
    {% for recipe in recipes %}
        <a class="recipe-name" href="{{ url_for('get_recipe_by_id', recipe_id=recipe.id) }}" style="color: silver;">{{ recipe.name }}, {{ recipe.id }}</a> 
        <br>
        <br>
    {% endfor %}
</body>